* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.intro {
  /* height: 80vh; */
  background-color: #e4f9f5;
  position: relative;
}
h1 {
  font-family: "Sacramento";
  font-size: 90px;
  text-align: center;
  padding-top: 150px;
  color: #66bfbf;
}
.section-intro {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  margin: 40px auto;
  color: #66bfbf;
}
.underline-text {
  text-decoration: underline;
}
/* cloud css */
.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  left: 257px;
  /* display: block; */
}

.mountain {
  display: block;
  margin: auto;
  padding-bottom: 3px;
}

.bio {
  margin: 100px auto;
}

.headshot {
  margin: auto;
  display: block;
}

.bio-text {
  text-align: center;
  width: 35%;
  margin: auto;
  line-height: 2;
  font-family: Merriweather;
  color: #40514e;
}

hr {
  border: 6px dotted #eaf6f6;
  border-top: none;
  width: 5%;
  margin: auto;
}

.skills {
  margin: 100px auto;
}

.skill-1 {
  width: 50%;
  margin: 100px auto;
}
.skill-2 {
  width: 50%;
  margin: auto;
}

.skill-image {
  border-radius: 50%;
  width: 25%;
}
.skill-topic {
  color: #11999e;
}

.image-right {
  float: right;
  margin-left: 25px;
}
.image-left {
  float: left;
  margin-right: 25px;
}
.skill-topic {
  margin-bottom: 10px;
}
.skill-brief {
  color: #40514e;
  line-height: 2;
  font-family: Merriweather;
}

.contact {
  margin: 100px auto;
}
.contact-topic {
  color: #11999e;
  text-align: center;
  margin: 40px auto;
}
.contact-brief {
  width: 35%;
  color: #40514e;
  margin: auto;
  line-height: 2;
  font-family: Merriweather;
  text-align: center;
}
form {
  margin: 40px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: auto;
  display: block;
  border: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
footer {
  background-color: #66bfbf;
  padding: 50px 0 30px;
}
.links {
  width: 50%;
  margin: auto;
  /* background-color: red; */
  text-align: center;
}
a {
  text-decoration: none;
  color: #11999e;
  margin: auto 25px;
}
a:hover {
  color: #eaf6f6;
}
footer p {
  text-align: center;
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 30px 0;
}
